h1{
  font-family:'Futura';
  src:url('/src/fonts/futurastd-bold-webfont.eot');
  src:url('/src/fonts/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futurastd-bold-webfont.woff') format('woff'), url('fonts/futurastd-bold-webfont.ttf') format('truetype'), url('fonts/futurastd-bold-webfont.svg#FuturaStdBookBold') format('svg');

}

/* Cloud */ 
hr{ 
  border: 0 none;
  box-shadow: 0 0 10px 1px black;
  content: " ";
  height: 0;
  margin: -16px 5px 30px 190px;
  position: absolute;
  width: 900px;
} 

body{
  padding:0px; 
  margin:0px;
}

footer{
  width:100%; 
  height:50px; 
  background: rgba(76,76,76,1); 
  margin:40 0 0 0;
}

.header {
  margin:auto; 
  width:900px;
  height:250px; 
}

.content {
  margin:auto; 
  width:900px;
  font-family: 'Futura';
  margin-top: 30px;
}
.content li{
  text-decoration: none;
  list-style: none outside none;
  text-decoration: none;
  margin-bottom: 30px;
}
.content a{
  color: #BB120D;
  text-decoration: none;
}

.video {
  margin-left:auto; 
  width:900px;
  font-family: 'Futura';
}
.text-header {
  font-family: 'Futura';
  float:left; 
  margin-top:-45px; 
  height:120px; 
  padding-top:80px; 
  padding-left:50px;
}
.span-header{
  color: #7D7D7D;
}
.img-header {
  width:240px; 
  height:200px; 
  background-image:url('../img/logo.png'); 
  float:left; margin-bottom:30px; 
  margin-top:20px;
}
